.navbar-nav>.active>a {
    font-size: 18px;
    font-weight: 500;
    color: rgb(91, 89, 247) !important;
}

.main-navigation {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
}

.nav-item {
    color: black !important;
}

.nav-link {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

html {
    scroll-behavior: smooth;
    ;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.jumbotron2 {
    padding: 2rem 1rem;
    margin-bottom: .8rem;
    border-radius: .3rem;
}

.img-fullsize {
    width: 100%;
}

.btnreg {
    border: 2px solid green;
    background-color: white;
    color: rgb(91, 89, 247) !important;
    padding: 8px 26px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.page {
    min-height: 700px;
    background-color: rgb(1, 104, 173);
}

.textheader {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.imgsize {
    height: 25px;
}

.white {
    font-size: 16px;
    font-weight: 400;
    color: #fff !important;
}
::-webkit-input-placeholder,
select {
    color: rgb(1, 104, 173) !important;
    font-size: 20px;
    font-weight: bold;
}

.box {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.box select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}

.checkboxbutton
{
    width: 30px;
    height: 40px;
}
.underline
{
    padding-left: 10px;
    color: #fff;
    text-decoration: underline;
}
input[type="checkbox"]
{
    vertical-align:middle;
}
.plussizeicon
{
    color: white !important;
}
.iconwithtext
{
     padding: 20px;
}